<header class="header">
  <h1>LGBTQ+sns</h1>
    <div class="video-area">
  <%# <video id="video" poster="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-3-1/img/movie.jpg" webkit-playsinline playsinline muted autoplay loop> %>
  <%= video_tag "production ID_4772299.mp4", autoplay: true, loop: true, muted: true, class: 'video' %>
  </video>
    <!--/video-area--></div>
<p>Login</p>
</header>

<div class="advertisement">



</div>