<header class="header">
  <h1>LGBTQ+sns</h1>
    <div class="video-area">
  <%# <video id="video" poster="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-3-1/img/movie.jpg" webkit-playsinline playsinline muted autoplay loop> %>
  <%= video_tag "production ID_4772299.mp4", autoplay: true, loop: true, muted: true, class: 'video' %>
  </video>
    <!--/video-area--></div>
<p>Login</p>
</header>

<div class="advertisement">
<%# <p class="scrollanime">フェードイン</p> %>
<div class="topinfo1">
<div class="scrollanime">
<%= video_tag "pexels-pavel-danilyuk-8451631.mp4", autoplay: true, loop: true, muted: true, class: 'video1' %>
</div>
<div class="topinfotext1">
<div class="scrollanime">
<h1 class="infotitle1">認める、繋がる、虹が架かる。</h1>
</div>
</div>
</div>

<div class="topinfo1">
<div class="topinfotext1">
<div class="scrollanime">
<h1 class="infotitle1">「目指すは多様性のある幸せな世界」</h1>
</div>
</div>
<div class="scrollanime">
<%= video_tag "pexels-rodnae-productions-8734988.mp4", autoplay: true, loop: true, muted: true, class: 'video2' %>
</div>
</div>
<%# <p class="scrollanime updown">上から下へフェードイン</p> %>
<%# <div class="scrollanime updown"> %>
<%#= video_tag "production ID_4772299.mp4", autoplay: true, loop: true, muted: true, class: 'video' %>
<%# </div> %>

</div>