

.header{
  position: relative;
  height: 100vh;
} 

.video-area{
  position: fixed;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

.video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}




.advertisement{
  background:#fff;
  /* text-align: center; */
  /* width: 100vw;
  height: 100vh; */
}

.topinfo1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 20px solid;
  border-image: conic-gradient(#f5f551,#5eff5e,#84a1ff,#ff45ff,#ff5a5a,#ffbc41,#f5f551) 1;
  height: auto;

}

.video1{
  width: 640px;
  height: auto;
  padding: 50px;

}

.topinfotext1{
  width: 640px;
  height: auto;
  padding: 50px;

}

.infotitle1{
  font-size: 45px;
  text-align: center;
}

.infotitle2{
  font-size: 30px;
  text-align: center;
}

.sign-up{
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}


.infotext{
  font-size: 25px;
  text-align: center;
}


.video2{
  width: 640px;
  height: auto;
  padding: 50px;
}

/*1.フェードインアニメーションの指定*/
.scrollanime {
  opacity: 0;

} 
/*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    }
}
 



#wrapper{
	max-width:100%;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
  font-family: 'Caveat', cursive;
  font-size: 80px;
}

p {
  font-family: 'Caveat', cursive;
  font-size: 60px;
}

 @media screen and (max-width:640px) {

  div {
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    box-sizing:border-box;
  }



  .video1{
    max-width: 350px;
    padding: 5px;
    box-sizing:border-box;
    height: 300px;
  }

  .video2{
    max-width: 350px;
    padding: 5px;
    box-sizing:border-box;
    height: 300px;
  }

}
 @media screen and (min-width:641px) and ( max-width:1023px) {

  .video1{
    max-width: 100%;
    padding: 20px;
    box-sizing:border-box;
    height: auto;
  }

  .video2{
    max-width: 100%;
    padding: 20px;
    box-sizing:border-box;
    height: auto;
  }

div {
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
  box-sizing:border-box;
}
 }
 @media screen and (min-width:1024px) {

 }