

.header{
  position: relative;
  height: 100vh;
} 

.video-area{
  position: fixed;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

.video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}




.advertisement{
  background:#fff;
  /* text-align: center; */
  /* width: 100vw;
  height: 100vh; */
}

.topinfo1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 20px solid;
  border-image: conic-gradient(#f5f551,#5eff5e,#84a1ff,#ff45ff,#ff5a5a,#ffbc41,#f5f551) 1;
  height: auto;

}

.video1{
  width: 640px;
  height: auto;
  padding: 50px;

}

.topinfotext1{
  width: 640px;
  height: auto;
  padding: 50px;

}

.infotitle1{
  font-size: 45px;
  text-align: left;
  color: #333333;
}

.infotitle2{
  font-size: 30px;
  text-align: center;
  color: #333333;
}

.sign-up{
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}


.infotext{
  font-size: 25px;
  text-align: left;
  color: #333333;
}


.video2{
  width: 640px;
  height: auto;
  padding: 50px;
}


.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  /* background-color: #f5f5f5; */
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),
  url(love-story-3060241_1280.jpg);
  background-size: cover;
}

.form-wrap {
  width: 50%;

  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
color: #333333;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.indispensable {
  background: blue;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  height: 120px;
}

.btn-gradient-3d {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #333333;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  transition: .4s;
}

.btn-gradient-3d:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.form-group2 {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.item-info {
  width: 100%;
  margin-top: 5px;
  height: 60px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.form-group3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-group4 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.btn-login {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #333333;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  transition: .4s;
}

.top-page-header {
  /* width: 100vw; */
  /* padding: 2vh 15vw; */
  display: flex;
  flex-direction: column;
  /* padding: 0.5em 1em; */
  /* margin: 2em 0; */
  border: double 5px #4ec4d3;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.back-btn{
  font-family: 'Caveat', cursive;
  font-size: 60px;
  color: #333333;
  text-decoration: none;
}

.search-bar-contents {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: space-around;
}

.search-form {
  width: 65vw;
  height: 6vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 3.3vw;
  height: 5.6vh;
  border: 0;
  cursor: pointer;
  background-color: #427cd4;
  padding: 8px;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login2 {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up2 {
  text-decoration: none;
  color: #333333;
}

.search-icon {
  width: 100%;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.contents-main {

  display: flex;
  margin: 0 150px;
justify-content: space-between;
}

.worry-pucup{

width: 30vw;
}


/* .item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
} */

.problem-main {
  text-decoration: none;
}

.worry-main{
  border: solid 2px #333333;

}

.worry-title2{
  font-size: 33px;
  height: 50px;
  background-color:#DDDDDD ;
  color: #333333;
}

.worry-title2:hover{
  color:#6098FF;  
}


.problem-main2{
  font-size: 18px;
  height: 70px;
  color: #333333;
}

.problem-main3{
font-size: 11px;
height: 3px;
display: grid;
justify-content: right;
color: #333333;
}

.problem-main4{
  font-size: 18px;
  height: 10px;
  display: grid;
  justify-content: right;
  color: #333333;
  border-top:dashed 1px #bbbbbb;
}

.item-lists {
  /* width: 100vw; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  list-style: none;

}

.worry-list {
  /* width: 37vh;
  padding: 1vw; */
  background-color: #FFF;

  /* width: 90vw; */
  /* height: 200px; */
  /* border: solid 3px #555555; */
  margin: 10px 10px 18px 10px;
}


/*1.フェードインアニメーションの指定*/
.scrollanime {
  opacity: 0;

} 
/*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


html, body {
  margin: 0;
  padding: 0;

}

.diary-pucup{
width: 30vw;
}

.worry-title {
	color: #d04255; /* 文字色 */
	padding: 10px 10px 10px 60px; /* 上・右・下・左の余白 */
	position: relative;


    /* font-size: 5vh; */
    /* line-height: 1.4;
    font-weight: bold; */

    /* text-align: center; */

}
.worry-title:before {
	content: '＊*'; /*花に見せかけるためのアスタリスク*/
	color: #fff; /* アスタリスクの色 */
	display: inline-block;
	font-size: 30px; /* アスタリスクの大きさ */
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	text-shadow: 0px 0px 6px #EAA8BF, 0px 0px 4px #EAA8BF, 0 0 0.5px #EAA8BF; /* アスタリスク周りの影 */
}
.worry-title:after {
	border-bottom: 2px dotted #EAA8BF; /* 下線 */
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.navigation{
  display: flex;
  justify-content: space-around;
}

.btn-gradient-4d {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #333333;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  transition: .4s;
  font-size: 30px;
}

.showmain{
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;

}

.worry-main2{
margin-top: 50px;
  border: solid 2px #333333;
width: 500px;
height: 100%;

}

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}


.comment-btn {
  line-height: 48px;
  background-color: #537ee2;
  border: 1px solid #537ee2;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.back-btn2{
  font-family: 'Caveat', cursive;
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}

.worry-main3{
  margin-top: 50px;
    border: solid 2px #333333;
  width: 100%;
  height: 100%;
  display:inline-block;
  max-width: 700px;
  display:inline-block;
  }

  .worry-title3{
    font-size: 33px;
    height: auto;
    background-color:#DDDDDD ;
    color: #333333;
    display:inline-block;
  }

  .problem-main5{
    font-size: 18px;
    height: auto;
    color: #333333;
    display:inline-block;
  }

.comment-user{
  display: flex;
}










/* 背景クローバー */
.clover-svg {
  width: 100%;
  height: 100%;
  background-size: 120px 120px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20120%20120%22%3E%20%3Cpath%20d%3D%22M57.83%2C10.21A10.16%2C10.16%2C0%2C0%2C1%2C54.26%2C18l-.07.05h0L37.4%2C34.82%2C20.6%2C18h0L20.54%2C18A10.21%2C10.21%2C0%2C1%2C1%2C37.17%2C8.07c0%2C.24.09.48.13.73a.69.69%2C0%2C0%2C0%2C0%2C.13c0%2C.13%2C0%2C.26%2C0%2C.4s0%2C.58%2C0%2C.88c0-.3%2C0-.59%2C0-.88s0-.27%2C0-.4a.69.69%2C0%2C0%2C0%2C0-.13c0-.25.08-.49.13-.73a10.21%2C10.21%2C0%2C0%2C1%2C20.2%2C2.14Z%22%20style%3D%22fill%3A%23fcf8cf%22%20%2F%3E%20%3Cpath%20d%3D%22M10.21%2C16.73A10.16%2C10.16%2C0%2C0%2C1%2C18%2C20.3l.05.07h0l16.8%2C16.8L18%2C54h0L18%2C54A10.21%2C10.21%2C0%2C1%2C1%2C8.07%2C37.39l.73-.13.13%2C0%2C.4%2C0c.29%2C0%2C.58%2C0%2C.88%2C0-.3%2C0-.59%2C0-.88%2C0l-.4%2C0-.13%2C0-.73-.13a10.21%2C10.21%2C0%2C0%2C1%2C2.14-20.2Z%22%20style%3D%22fill%3A%23def0ed%22%20%2F%3E%20%3Cpath%20d%3D%22M65%2C57.58A10.13%2C10.13%2C0%2C0%2C1%2C57.29%2C54a.1.1%2C0%2C0%2C1%2C0-.07h0l-16.8-16.8%2C16.8-16.8h0a.1.1%2C0%2C0%2C1%2C0-.07%2C10.21%2C10.21%2C0%2C1%2C1%2C9.89%2C16.63l-.74.13-.13%2C0-.39%2C0c-.3%2C0-.59%2C0-.88%2C0%2C.29%2C0%2C.58%2C0%2C.88%2C0l.39%2C0%2C.13%2C0%2C.74.13A10.21%2C10.21%2C0%2C0%2C1%2C65%2C57.58Z%22%20style%3D%22fill%3A%23def0ed%22%20%2F%3E%20%3Cpath%20d%3D%22M17%2C63.61a10.16%2C10.16%2C0%2C0%2C1%2C3.57-7.75l.07%2C0h0L37.42%2C39%2C54.21%2C55.8h0a.18.18%2C0%2C0%2C1%2C.07%2C0%2C10.21%2C10.21%2C0%2C1%2C1-16.63%2C9.89c0-.24-.09-.48-.13-.73a.69.69%2C0%2C0%2C0%2C0-.13c0-.13%2C0-.26%2C0-.4s0-.58%2C0-.88c0%2C.3%2C0%2C.59-.05.88s0%2C.27%2C0%2C.4a.69.69%2C0%2C0%2C0%2C0%2C.13c0%2C.25-.08.49-.13.73A10%2C10%2C0%2C0%2C1%2C35%2C70.26a10.22%2C10.22%2C0%2C0%2C1-18-6.65Z%22%20style%3D%22fill%3A%23fcf8cf%22%20%2F%3E%20%3C%2Fsvg%3E");
  animation: cloverAnim 10s infinite linear;
}

@keyframes cloverAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 120px -120px;
  }
}

/* 背景クローバー */




@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    }
}
 



#wrapper{
	max-width:100%;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.lgbtq {
  font-family: 'Caveat', cursive;
  font-size: 80px;
  color: #333333;
}

.infotitle3 {
  font-family: 'Caveat', cursive;
  font-size: 80px;
  text-align: center;
}

.login {
  font-family: 'Caveat', cursive;
  font-size: 60px;
}

 @media screen and (max-width:640px) {

  /* div {
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    box-sizing:border-box;
  } */



  .video1{
    max-width: 350px;
    padding: 5px;
    box-sizing:border-box;
    height: 300px;
  }

  .video2{
    max-width: 350px;
    padding: 5px;
    box-sizing:border-box;
    height: 300px;
  }

}
 @media screen and (min-width:641px) and ( max-width:1023px) {

  .video1{
    max-width: 100%;
    padding: 20px;
    box-sizing:border-box;
    height: auto;
  }

  .video2{
    max-width: 100%;
    padding: 20px;
    box-sizing:border-box;
    height: auto;
  }

/* div {
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
  box-sizing:border-box;
} */
 }
 @media screen and (min-width:1024px) {

 }